<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Halaman Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gaya.css') }}">
    </head>
    <body>
        <div class="login-container">
            <h1>Masuk</h1>
            <p>Masukkan Username dan Password Untuk Masuk</p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="post">
                <label for="username">Nama Pengguna</label>
                <input type="text" id="username" name="username" placeholder="Masukkan nama Pengguna">
                
                <label for="password">Kata Sandi</label>
                <input type="password" id="password" name="password" placeholder="Masukkan kata sandi">
                
                <div class="button-container">
                    <button type="button" class="forgot-password">Lupa Kata Sandi?</button>
                    <button type="submit" class="login-button">Masuk</button>
                </div>
            </form>
        </div>
    </body>
    </html>
    
</body>
</html>